ul li {
    color: aqua;
}
ol li {
    color: green;
}

ul li a {
    color: brown;
}

ol li a {
    color: chocolate;
}

.subject li.front-end {
    color: red;
}
/* 只让特定的地方变红 */

.subject div.front-end {
    color: gray;
}